extends ../layout

block content
    .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3(style="width:80%")
        div(style="height:30px")
        .page-header
            h3= language.website.headers.giveMoney
            hr
        h5 Books
        table.table 
            thead 
                th= language.website.table.header.title
                th= language.website.table.header.publisher
                th= language.website.table.header.price
                th= language.website.table.header.status
            tbody
                each item in euser.availableBooks
                    if item.book[0]
                        tr
                            td=item.book[0].title.length > 70 ? item.book[0].title.substring(0, 70 - 3) + "..." : item.book[0].title
                            td=item.book[0].publisher.length > 40 ? item.book[0].publisher.substring(0, 40 - 3) + "..." :  item.book[0].publisher
                            td=item.cost.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })
                            td=item.status
        h5 You need to give him #{euser.debt.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })} from sold books! 

            form.form-horizontal(action='giveMoney', method='POST')
                input(type="submit", value=language.website.button.giveMoney).btn.btn-primary

        .page-header
            h3= language.website.headers.profileInfo
            hr
        form.form-horizontal#update(action='update', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .input-group.mb-3.row.justify-content-md-center
                label.col-sm-3.col-form-label.text-right.font-weight-bold(for='role')= language.website.input.role.label
                .col-sm-7
                    select.form-control(name='role', id='role', form="update", required)
                        option(selected=(euser.role=="seller") ? true : false) seller 
                        option(selected=(euser.role=="student") ? true : false) student
                        option(selected=(euser.role=="admin") ? true : false) admin                 
                        option(selected=(euser.role=="headadmin") ? true : false) headadmin                 
            .input-group.mb-3.row.justify-content-md-center
                label.col-sm-3.col-form-label.text-right.font-weight-bold(for='email')= language.website.input.email.label
                .col-sm-7
                    input.form-control(type='email', name='email', id='email', placeholder=language.website.input.email.placeholder, value=euser.email)
            .input-group.mb-3.row.justify-content-md-center
                label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name')= language.website.input.name.label
                .col-sm-7
                    input.form-control(type='text', name='name', id='name', placeholder=language.website.input.name.placeholder, value=euser.profile.name)
            .input-group.mb-3.row.justify-content-md-center
                label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name')= language.website.input.surname.label
                .col-sm-7
                    input.form-control(type='text', name='surname', id='surname', placeholder=language.website.input.surname.placeholder, value=euser.profile.surname)

            .input-group.mb-3.row.justify-content-md-center
                .col-sm-4
                    button.btn.btn.btn-primary(type='submit')
                        i.fa.fa-pencil
                        | #{language.website.button.updateProfile}
