include ../layout

block content 
    main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Buyers 
      table.table
        thead
          th Name 
          th Surname 
          th Books Bought 
          th Money spent 
          th Profit 
          th Contact
        tbody 
          each buyer in buyers 
            tr 
              td=buyer.name 
              td=buyer.surname
              td=buyer.books 
              td=buyer.moneySpent.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })
              td=buyer.profit.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })
              td
                div=buyer.email 
                div=buyer.phone 
      h5 Total money spent: #{buyerSum.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })}
      