extends ../layout

block content
    .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3(style="width:80%")
        div(style="height:30px")
        .page-header
            h3 #{userInfo.name} #{userInfo.surname} 
        //-     hr
        h5 Books
        table.table 
            thead 
                th Title 
                th Publisher 
                th Cost 
                th Status 
            tbody
                each item in books
                    if item.book
                        tr
                            td=item.book.title.length > 70 ? item.book.title.substring(0, 70 - 3) + "..." : item.book.title
                            td=item.book.publisher.length > 40 ? item.book.publisher.substring(0, 40 - 3) + "..." :  item.book.publisher
                            td=item.cost.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })
                            td=item.status
        h5 You need to give him #{euser.debt.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })} from sold books! 

        //-     form.form-horizontal(action='giveMoney', method='POST')
        //-         input(type="submit", value="Give Money").btn.btn-primary
