extends ../layout

block content
  .col-sm-8.offset-sm-2
    form(method='POST')
      if !resend
        legend= language.website.title.forgotPassword
        hr
        
        input(type='hidden', name='_csrf', value=_csrf)
        span= language.website.descriptions.resetPasswordInstructions

        .input-group.mb-3
          label.col-form-label.font-weight-bold.me-2(for='email')= language.website.input.email.label
          input.form-control(type='email', name='email', id='email', placeholder=language.website.input.email.placeholder, autofocus, required)
          hr

        .input-group.mb-3
          button.btn.btn-primary(type='submit')
            i.fa.fa-key
            | #{language.website.button.resetPassword}
      else 
          legend= language.website.title.verifyAgain
          hr
          input(type='hidden', name='_csrf', value=_csrf)
          .input-group.mb-3
            p= language.website.descriptions.AccountVerifyInstructions
            label.col-form-label.font-weight-bold.me-2(for='email')= language.website.input.email.label
            input.form-control(type='email', name='email', id='email', placeholder=language.website.input.email.placeholder, autofocus, required)
            hr

          .input-group.mb-3
            button.btn.btn-primary(type='submit')
              i.fa.fa-key
              | #{language.website.button.resendPassword}
