extends ../layout

block content
  .page-header
    h3=language.website.headers.manageProfile
    hr

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .input-group.mb-3.row.justify-content-md-center
      h5.my-auto.col-sm-3.col-form-label.text-right.font-weight-bold= language.website.input.role.label
      .col-sm-7.my-auto
        p.my-auto=user.role
      //- select.form-control(name='role', id='role', placeholder='Choose Role', required)
      //-       option seller 
      //-       option viewer
      //-       option admin 
    .input-group.mb-3.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='email')= language.website.input.email.label
      .col-sm-7
        input.form-control(type='email', name='email', placeholder=language.website.input.email.placeholder, id='email', value=user.email)
    .input-group.mb-3.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name')= language.website.input.name.label
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder=language.website.input.name.placeholder, value=user.profile.name)
    .input-group.mb-3.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name')= language.website.input.surname.label
      .col-sm-7
        input.form-control(type='text', name='surname', placeholder=language.website.input.surname.placeholder, id='surname', value=user.profile.surname)
    .input-group.mb-3.row.justify-content-md-center
      .col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | #{language.website.button.updateProfile}

  .page-header
    h3= language.website.headers.resetPassword
    hr

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .input-group.mb-3.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='password')= language.website.input.newPassword.label
      .col-sm-7
        input.form-control(type='password',, placeholder=language.website.input.newPassword.placeholder name='password', id='password')
    .input-group.mb-3.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='confirmPassword')= language.website.input.confirmPassword.label
      .col-sm-7
        input.form-control(type='password', placeholder=language.website.input.confirmPassword.placeholder, name='confirmPassword', id='confirmPassword')
    .input-group.mb-3.row.justify-content-md-center
      .col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | #{language.website.button.changePassword}

