extends ../layout_tailwindcss
include ../mixins/a.pug
block content
    div.flex.flex.col(class="h-[90vh]")
        div.flex-grow.flex.justify-center.overflow-hidden
            section.container.m-auto
                div.flex.justify-around.w-full
                    div.flex-grow.z-10(class="max-lg:text-center md:max-w-max md:min-w-max")
                        h1.text-8xl.font-extrabold.text-white.my-4(class="max-md:text-5xl max-md:my-2")= language.website.title
                        h2.text-5xl.font-serif.font-semibold.text-primary.my-9(class="max-md:text-2xl max-md:my-2")= language.website.signature
                        p.text-white.text-xl.my-4.max-w-2xl(class="max-md:text-base max-md:max-w-none max-md:w-full max-md:my-2")= language.website.description 
                            small.italic.text-gray-400= language.website.creator
                        div.flex.mt-20.justify-center.align-center.space-x-8
                            +a-button("/addbook")= language.website.button.addBook
                            +link("#books").no-override.my-auto= language.website.button.availableBook
                    if !device.mobile()
                        div.w-96.h-96.relative(class="sm:max-lg:hidden",)
                            div.book-render.w-max.absolute.opacity-0.transition-opacity.duration-300(class="-translate-x-1/2 left-1/2 -translate-y-1/2 top-1/2 data-[obj-loaded]:opacity-100")
                if !device.mobile()
                    div(class="pointer-events-none absolute left-1/3 bottom-14 -z-10")
                        div(class="-z-10 h-[550px] w-[550px] bg-primary bg-opacity-40 rounded-full blur-[8rem]")
                    div(class="pointer-events-none absolute left-[35%] -top-52 -z-10")
                        div(class="h-[600px] w-[600px] -z-10 bg-secondary bg-opacity-50 rounded-full blur-[8rem]")
                    div(class="pointer-events-none absolute left-[55%] top-[35%] -z-10")
                        div(class="h-96 w-96 -z-10 bg-white bg-opacity-70 rounded-full blur-[8rem]")
    section#books.min-h-screen.container.mx-auto.my-6
        if data
            each schoolEntry in data
                div.my-12
                    h1.text-4xl.font-bold= schoolEntry.school.name
                    .flex.flex-row.space-x-6.overflow-x-auto.overflow-y-hidden
                        each bookEntry in schoolEntry.book
                            div.relative.border-2.border-primary.rounded-lg.p-6.m-5(class="w-[17rem] min-w-[17rem] h-[28rem]")
                                //- img(src=bookEntry.book.image).mx-auto.min-h-2xl.h-2xl
                                div.w-full.m-2(class="h-2/3", style=`background-image: url(${bookEntry.book.image}); background-size: cover;`)
                                div.font-bold.text-lg.overflow-y-auto.overflow-y-auto.relative= bookEntry.book.title && bookEntry.book.title.length > 80 ? bookEntry.book.title.substring(0, 80 - 3) + "..." : bookEntry.book.title || ""
                                div.absolute.bottom-0.right-0.bg-primary.rounded-full.px-5.py-1.m-2.text-sm.font-thin #{bookEntry.available} sztuk

