if device.mobile() && user && user.role != "student" && !disableSearch
  form(action="/find", method="get")
    .input-group 
      .input-group-prepend 
        span.input-group-text= language.website.descriptions.searchListingID
      input(type="text" name="itemID").form-control.numeric
      .input-group-append  
        button(type="button").mobile.fa.fa-camera.border-0.scan-barcode.h-100
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/')
      i.fa-solid.fa-bookmark.mx-2
      | SignumLBRI
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='.navbar-collapse')
      span.navbar-toggler-icon
    if !setup 
      .collapse.navbar-collapse
        .dropdown-divider
        ul.nav.navbar-nav
          li.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/')=language.website.button.home
          if user && user.isSeller()
            li.nav-item(class=(title === 'Kasa') ? 'active' : undefined)
              a.nav-link(href='/bulk') Kasa  
          if user && user.role == "student"
            li.nav-item(class=(title === 'Wydrukuj Etykietę') ? 'active' : undefined)
              a.nav-link(href='/label')= language.website.button.labels
            li.nav-item(class=(title === 'Home') ? 'active' : undefined)
              a.nav-link(href='/book/add')= language.website.button.addBook
            li.nav-item(class=(title === 'Biblioteka') ? 'active' : undefined)
              a.nav-link(href='/library')= language.website.button.availableBooks
          //- li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
          //-   a.nav-link(href='/api') API Examples
          //- li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          //-   a.nav-link(href='/contact') Contact
        .col
          if !device.mobile()
            if !disableSearch
              if user && user.role != "student"
                form(action="/find", method="get")
                  .input-group 
                    .input-group-prepend 
                      span.input-group-text= language.website.descriptions.searchListingID
                    input(type="text" name="itemID").form-control 


        ul.nav.navbar-nav
          if !user
            li.nav-item(class=(title === 'Login') ? 'active' : undefined)
              a.nav-link(href='/login')= language.website.button.login
            li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
              a.nav-link(href='/signup')= language.website.button.signup
          else
            li.nav-item.dropdown#dropdownMenuButton1(class=(title === 'Account Management') ? 'active' : undefined)
              a.nav-link.dropdown-toggle(data-bs-toggle='dropdown' aria-expanded="false")
                if user.profile.picture
                  img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
                else
                  img(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
                span= user.profile.name || user.email || user.id
                i.caret
              ul.dropdown-menu(aria-labelledby="dropdownMenuButton1")
                li.nav-item
                  a.nav-link(href='/account')= language.website.button.myAccount
                if user.isAdmin()
                  li.nav-item 
                    a.nav-link(href="/setup")= language.website.button.addAccount
                if user.isHeadAdmin()
                  li.nav-item 
                    a.nav-link(href="/school/add")= language.website.button.addSchool
                li.dropdown-divider
                li.nav-item
                  a.nav-link(href='/logout')= language.website.button.logout
