extends ../layout_tailwindcss

include ../mixins/a
include ../mixins/prebuild_blocks

block content
    .container.mx-auto
        +header()= language.website.headers.manage
        +divider()
        if listings 
            form(method="get", action="/label/print") 
                div(class="max-md:overflow-scroll")
                    table.w-full.table-auto.my-6(class="max-md:text-3xs text-sm")
                        thead.bg-gray-700.text-white.uppercase.border-gray-50.border
                            th.px-6.py-3 Drukuj
                            th.px-6.py-3 Tytuł
                            th.px-6.py-3(class="max-md:hidden") Wydawca
                            th.px-6.py-3 Cena
                            th.px-6.py-3 Wydrukowane
                        tbody 
                            each listing in listings
                                tr.border-b.py-2
                                    td.px-6.py-3
                                        if listing._id==selectedLabel
                                            input(type="checkbox", name=`${listing._id}`, checked)
                                        else   
                                            input(type="checkbox", name=`${listing._id}`)

                                    td.px-6.py-3= listing.book.title.length > 40 ? listing.book.title.substring(0, 40 - 3) + "..." : listing.book.title
                                    td.px-6.py-3(class="max-md:hidden")= listing.book.publisher.length > 80 ? listing.book.publisher.substring(0, 80 - 3) + "..." : listing.book.publisher
                                    td.px-6.py-3= listing.cost
                                    td.px-6.py-3= listing.label.print ? 'Tak' : "Nie"
                .flex.flex-row.space-x-4.items-center.justify-center.m-4
                    +button(type="submit")= language.website.button.print
                    +link(href="/book/add").my-auto= language.website.button.addNextBook
                                
        else 
            div.text-center.mx-auto            
                h6= language.website.empty
                .flex.justify-center
                    +a-button(href="/book/add").block.m-3.max-w-max= language.website.button.addFirstBook
                    