extends layout_tailwindcss

include mixins/a
include mixins/prebuild_blocks

block content
    .container.mx-auto
        +header()= language.website.headers.books
        +divider()

        if bookListings
            div(class="max-md:overflow-scroll")
                table.w-full.table-auto.my-6(class="max-md:text-3xs text-sm")
                    thead.text-sm.bg-gray-700.text-white.uppercase.border-gray-50.border
                        th.px-6.py-3 Tytuł
                        if !device.mobile()
                            th.px-6.py-3 Wydawca 
                            th.px-6.py-3 Cena 
                        th.px-6.py-3 Status
                        th.px-6.py-3 
                    tbody
                        each bookListing in bookListings
                            tr.border-b.py-2
                                td
                                    p.px-6.py-3= bookListing.book.title.length > 40 ? bookListing.book.title.substring(0, 40 - 3) + "..." : bookListing.book.title
                                if !device.mobile()
                                    td
                                        p.px-6.py-3= bookListing.book.publisher.length > 80 ? bookListing.book.publisher.substring(0, 80 - 3) + "..." : bookListing.book.publisher
                                    td
                                        p.px-6.py-3= bookListing.cost.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })
                                td
                                    p.px-6.py-3= bookListing.getStatusString(language)
                                td 
                                    +a-button(href=`/book/${bookListing._id}/manage`).block.m-3.w-max.mx-auto= language.website.button.manage
            +a-button(href="/book/add").w-max.block.m-3= language.website.button.addNextBook

        else 
            div.text-center.mx-auto            
                h6= language.website.empty
                .flex.justify-center
                    +a-button(href="/book/add").block.m-3.max-w-max= language.website.button.addFirstBook
                