extends layout

block content
  center 
    h1 Witaj
    p.lead Jak ci dzień mija!
    hr

    center
  
      a.btn.m-2.btn-secondary(href='/admin', role='button')= language.website.button.analitycs
      //- a.btn.m-2.btn-secondary(href='/book/sell', role='button') Zarejestruj Książkę
      a.btn.m-2.btn-secondary(href='/book/registry?page=1', role='button')= language.website.button.registry
      if !device.mobile()
        table.table
          thead 
            th Tytuł
            th Wydawca
            th Dostępne
            th Sprzedane
          tbody
            each book in availableBooks
              tr
                if book.title
                  td=book.title.length > 80 ? book.title.substring(0, 80 - 3) + "..." : book.title
                else 
                  td.text-danger _NO_NAME_WARN
                if book.publisher
                  td=book.publisher.length > 40 ? book.publisher.substring(0, 40 - 3) + "..." : book.publisher              
                else 
                  td.text-danger _NO_NAME_WARN
                td=book.available 
                td=book.sold
        a.btn.m-2.btn-secondary(href='/book/registry?page=1', role='button')= language.website.button.registry


    //- a.btn.btn-secondary(href='#', role='button') 
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-      View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-secondary(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-secondary(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-secondary(href='#', role='button') View details »